.env
.env.sample
.python-version
.pytest_cache
.vscode
.github
**/__pycache__
.poetry
activate
base-image/
host/
src/resources/
Makefile
make-config.env
mk_passwd.py
requirements.txt
.DS_Store
.git
.gitignore
start-postgres-local.sh
docker-compose.yaml